
POSTGRES_DB=rust_server
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

APP_PORT=8080

RUST_LOG=info

RUST_BACKTRACE=0


RUST_VERSION=1.70

NODE_VERSION=18-alpine


REACT_APP_API_URL=http://localhost/api

NGINX_HTTP_PORT=80






